.topImage{
    position: relative;
    color: white;
    width: 100%;
    margin: auto;
}
.topImage img{
    width: 100%;
    margin-top: -20px;
}
.topImageText{
    position: relative;
    bottom: 200px;
    left: 30px;
}
.topImageText h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: left;
}
.topImageText p{
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    margin-bottom: -20px;
}